{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<style>
    .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<div class="container bg-info rounded">

    </br>

    <div class="card m-3 border border-info">
        <form class="form-signin" method="post" action="."> {% csrf_token %}
            
            <h4 class="h3 mb-3 font-weight-normal">Please Login or  <a href="{% url 'registration_register' %}">Register here!</a><a></a></h4>
            
            <!--
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            -->

            {{ form.as_p }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />


        </form>
    </div>

    </br>
</div>




<!--
<h1>Login</h1>
<form method="post" action=".">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Log In" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>
Not registered?
<a href="{% url 'registration_register' %}">Register here!</a>
</p>
{% endblock %}
-->
