<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <style> table#frontTab {
            width: 100%;
            background-color: #d5d8db;
          }
          </style>
       
        <title>
            
            {% block title_block %}               
            {% endblock %}
        </title>
    </head>
    <body>
        <img src="{% static 'images/wad-logo-blue.jpg' %}" alt="WorkItOut"height="50"width="100" />
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}?next={% url 'workitout:home'%}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
                <li><a href="{% url 'workitout:home' %}">Home</a></li>
				<li><a href="{% url 'workitout:about' %}">About</a></li>
                <li><a href="{% url 'workitout:search' %}">Search</a></li>
                <li><a href="{% url 'workitout:create-workout' %}">Create Workout</a></li>
                
                
            </ul>
        </div>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div> 
            {% block sidebar_block %}
                <!-- Could be newsfeed or Jscript map -->
            {% endblock %}
        </div>
        <hr />
        
    </body>
</html>