{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Create a Workout
{% endblock %}


{%  block body_block %}

<style type="text/css">
    
    .input{
        width: 100%;
    }
    .container{
		padding:20px;
	}
	.blue{
        color:rgb(7,147,182);
        font-size:20px
	}
	.container{
		padding:20px;
	}
    .button_green{
        background-color:rgb(36, 172, 36); /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .button_blue{
        background-color:rgb(7,147,182);
        border: none;
        color:white;
        padding:10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
            <form id="workout_form" method="post" action="/workitout/create-workout">{% csrf_token %}

                {% if error == True %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong> A workout must contain at least 2 exercises.
                  </div>
                {% endif %}

                {% for hidden in form.hidden_fields %} 
                    {{ hidden }} 
                {% endfor %} 

                {% for field in form.visible_fields %} 

                    {{ field.errors }}  
    
                    <div class="form-group">
                        <label class="blue">{{ field.help_text }}</label>
                        <div class="input">{{ field }}</div>
                    </div>
                    
                {% endfor %}
                
                <button class="btn button_blue" type="button" onclick="window.open('/workitout/create-workout/add-exercise','_blank')">Add Exercise</button>
                <br> <br>
                <button class="btn button_green" formaction='/workitout/create-workout'>Create Workout</button>
                

            </form>
        </div>
	</div>
</div>

{% endblock %}
      


        