{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Create a Workout
{% endblock %}

{%  block body_block %}

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
            <form id="workout_form" method="post" action="/workitout/create-workout">{% csrf_token %}

                {% for hidden in form.hidden_fields %} 
                    {{ hidden }} 
                {% endfor %} 

                {% for field in form.visible_fields %} 

                    {{ field.errors }}  
    
                    <div class="form-group">
                        <label>{{ field.help_text }}</label>
                        <div class="form-control">{{ field }}</div>
                    </div>
                    
                {% endfor %}
                
                <button class="btn btn-success" type="button" onclick="window.open('/workitout/create-workout/add-exercise','_blank')">Add Exercise</button>
                
                <!--<button class="btn btn-primary" onclick="">Create Workout</button>-->
                <input type="submit" name="submit" value="Create Workout" />

            </form>
        </div>
	</div>
</div>

{%  endblock %}