{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ title }}
{% endblock %}

{% block body_block %}


<style type="text/css">
	.card{
		max-width: 700px;
        color:steelblue;
	}
	.container{
		padding:20px;
	}
    .blue{
        color:rgb(0, 153, 255);
    }
</style>

<div class="container">
	<div class="row">

		<div class="card m-auto">
            <u><h1 align="center"class="card-title">{{ title }}</h1></u>
			{% for image_path in image_paths %}
                <img class="card-img-top" src="{% static image_path %}"  alt="exercise image"/>
            {% endfor %}
			<div class="card-body mt-2 mb-2">

                

                </br>

                <h6 class="card-subtitle mb-2 text-muted">
                   {{primer}}
                </h6>

                </br>

                <div class="card-header">
                    Muscle Group : {{ muscle_group }} <br/>
                    Target : {%for m in muscles%}<span class="badge badge-pill badge-primary">{{m}}</span>{%endfor%} </br>
                    Difficulty : {%if difficulty == 1 %}
                        <span class="badge badge-pill badge-success">Easy</a></span>
                        {%elif difficulty == 2 %}
                        <span class="badge badge-pill badge-warning">Medium</a></span>
                        {%else%}
                        <span class="badge badge-pill badge-danger">Hard</a></span>
                        {%endif%}
                  </div>
			</div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">Follow These Steps :</li>

                {% for s in steps %}
                <li class="list-group-item"><span class="badge badge-pill badge-light">{{s.num}}</span>{{s.step}}</li>
                {% endfor %}

            </ul>

            <div class="card-footer text-muted">
                Tags:{%for t in tags%}<span class="badge badge-pill badge-primary">{{t}}</span> {%endfor%}<br/>

                {% if equipment %}    
                <br>      
                    You will need : {%for e in equipment%}<span class="badge badge-pill badge-primary">{{e}}</span>{%endfor%}
                {% else %}
                    No equipment is needed
                {% endif %}
              </div>


		</div>

	</div>
</div>

{% endblock %}