{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    All Exercises
{% endblock %}

{% block body_block %}


<style>
    .search-bar{
        color: rgb(82, 160, 196);
        padding: 20px;
        width: 90%;
    }
    .card-body{
        padding: 20px;
        width: 90%;
    } 

    .dropdown-toggle{
        background-color: rgb(82, 160, 196);
    }



</style>

<div class="card m-5 mx-auto">
    <form id="exercise_search">
        <div class="row" >
            <div class="search-bar m-3">
                
                    <p><h4>Search Exercises </h4></p>
                    <input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-default dropdown-toggle" type="button" id="mg-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <label for="mg-dropdown">Muscle Group</label><br>
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="mg-dropdown-menu">
                    {% for mg in muscle_groups %}
                        <li >
                            <label>
                                <input type="radio" id="{{ mg.name }}" name="muscle_group" value="{{ mg.name }}">{{ mg.name|title }}
                            </label>
                        </li>

                    {% endfor %}
                            </ul>
                        </div>
            
            <div class="col-sm">
                <button class="btn btn-default dropdown-toggle" type="button" id="eq-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <label for="eq-dropdown">Equipment</label><br>
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="eq-dropdown-menu">
                    {% for eq in equipment %}
                        <li >
                            <label>
                                <input type="radio" id="{{ eq.slug }}" name="equipment" value="{{ eq.slug }}">{{ eq.name|title }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="col-sm">
                <button class="btn btn-default dropdown-toggle" type="button" id="t-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <label for="t-dropdown">Exercise Type</label><br>
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="t-dropdown-menu">
                    {% for type in ex_type %}
                        <li >
                            <label>
                                <input type="radio" id="{{ type }}" name="ex_type" value="{{ type }}">{{ type|title }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <input type="submit" value="Filter">
        <input type="reset">
    </form>
</div>

{% if exercises %}

    <div class="card-columns m-5">
        
        {% for ex in exercises %}

                <a href="/workitout/exercise/{{ ex.slug }}/">

                    <!--Put snippet here-->
                    {% include 'workitout/snippets/exercise_snippet.html' with exercise=ex %}

                </a>

        {% endfor %}

    </div>

{% else %}

    <div>
        {% include 'workitout/snippets/exercise_snippet.html' %}
    </div>


{% endif %}



<!--Java script to help with the search function-->
{% if query %}
    <script type="text/javascript">

        document.getElementById("id_q").value = "{{query}}"

    </script>
{% endif %}



{% endblock %}