{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    All Exercises
{% endblock %}

{% block body_block %}
<div>

    <table style="width:80%" id="frontTab">
        <tr>
            <th>Exercise</th>
            <th>Image</th>
        </tr>
        {% for exercise in exercises %}
        <tr>
            <td><a href="/workitout/exercise/{{ exercise.slug }}/">{{exercise.title}}</a></td>
            <td><img src="{% static exercise.image1 %}" height=40 alt="exercise image"/></td>
            <td><img src="{% static exercise.image2 %}" height=40 alt="exercise image"/></td>
        </tr>
        
        {% endfor %}

</div>

{% endblock %}
