{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

<style type="text/css">
    .card{
        min-width: 250px;
    }
    .container{
        padding:20px;
        /*width: 90%;*/
    }
    .search-bar{
        color: rgb(82, 160, 196);
    }
    .card-body{
        padding: 20px;
        width: 90%;
    }

    
	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}
    

	.workout-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
</style>


<div class="container-fluid rounded">
    
    <div class="row">

        <!--Feed starts-->
        <div class="m-2 col rounded bg-white border border-info">

        </br>

            <!--<div class="mb-3 rounded border border-info">-->

                <!--Search funcitonality-->
				<div class="card m-auto d-flex flex-column p-3 border border-info">
					<!--<img class="img-fluid d-block m-auto pb-2" src="{% static 'images/wad-logo-blue.jpg' %}" width="72" height="72">-->

    
                    <form method="get">
                        <p class="lead"><h5>Search a workout created by one of our users or <a href="{% url 'workitout:create-workout' %}" >create your own!</a></h5></p>
                        <input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
                    </form>
				</div>
			<!---</div>-->

            </br>

            {% if workouts %}

                    {% for wo in workouts %}
                        

                            <div class="card m-auto d-flex flex-column p-3 bg-info">
                                {% include 'workitout/snippets/workout_snippet.html' with workout=wo %}
                            </div>
                                
                        </a>      
                    </br> 
                    {% endfor %}

            {% else %}
            
                <div class="workout-post-container">
                    {% include 'workitout/snippets/exercise_snippet.html' with query=query %}
                </div>

            {% endif %}

        </div>


        <!-- Extra functinoality here, perhaps javascript?-->
        <div class="m-2 col-sm  rounded bg-info border border-white">

        </br>

            <div class="mb-3 rounded">
                
                <!--Add code here-->
                


			</div>

        </div>

        <!-- Extra functinoality here, maybe some links to a social media feed/forum?-->
        <div class="m-2 col-sm  rounded bg-dark border border-white">

        </br>

            <div class="mb-3 rounded">
                
                <!--Add code here-->


			</div>

        </div>
        

        <!-- Add interactive js map here-->
        <div class="m-2 col-sm  rounded bg-white border border-dark">

        </br>

            <div class="mb-3 rounded">
                
                <!--Add code here-->

			</div>

        </div>


    </div>

</div>



<script type="text/javascript">
    document.getElementById("id_q").value = "{{query}}"
</script>


{% endblock %}

<!--
col-lg-7 offset-lg-1

workout-post-container m-auto d-flex flex-column p-3
-->