{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    User Profile
{% endblock %}

{% block body_block %}
{% if userProfile %}
<h1 id="follow_start" data-isFollowing={{isFollower}} >{{username}}</h1>
{%if picture %}
<img src="{{ userProfile.picture.url }}" alt="profile picture" height="90 " width="90">
{% endif %}
{% if private %}
    This profile is private.
{% else %}
{{bio}}

<div>
    <strong id="following_count">{{ following }}</strong> following
    <strong id="follow_count">{{ followers }}</strong> followers
    {% if user.is_authenticated %}
    {% if self_view is False %}        
            <button id="follow_btn"  data-followerid="{{ current_user.id }}" data-userid="{{ userProfile.id }}"class="btn btn-primary btn-sm" type="button">
                <span data-feather="user-check"></span>
                Follow
            </button>
        
            <button id="unfollow_btn"  data-followerid="{{ current_user.id }}" data-userid="{{ userProfile.id }}"class="btn btn-primary btn-sm" type="button">
                <span data-feather="user-x"></span>
                Unfollow 
            </button>

    {% endif %}
    {% endif %}
</div>

{% if verified %}
This user is verified
{% endif %}

<div>
    <h2>Saved Workouts</h2>
    {% if saved %}
    
    
        <table style="width:80%" id="frontTab">
            <tr>
                <th>Workout Name</th>
                <th>Duration</th>
                <th>Likes</th>
              </tr>
            {% for workout in saved %}
            <tr>
                <th><a href="{% url 'workitout:workout_page' workout.creator workout.id  %}">{{workout.title}}</a></th>
                <th>{{workout.duration}}</th>
                <th>{{workout.numLikes}}</th>
            </tr>
            {% endfor %}
        {% else %}
        User has no saved workouts
        {% endif %}
    </div>

    <div>
        <h2>Created Workouts</h2>
        {% if created %}
        
        
            <table style="width:80%" id="frontTab">
                <tr>
                    <th>Workout Name</th>
                    <th>Duration</th>
                    <th>Likes</th>
                  </tr>
                {% for workout in created %}
                <tr>
                    <th><a href="{% url 'workitout:workout_page' workout.creator workout.id  %}">{{workout.title}}</a></th>
                    <th>{{workout.duration}}</th>
                    <th>{{workout.numLikes}}</th>
                </tr>
                {% endfor %}
            {% else %}
            User has not created any workouts
            {% endif %}
        </div>

{% endif %}
{% else %}
User not found
{% endif %}
{% endblock %}