{% extends 'workitout/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ title }}
{% endblock %}

{% block body_block %}

<style type="text/css">
	
    .col-md-4 img{
        max-width: 20%;
        display: block; 
    }
    
    .card{
		max-width: 700px;
        color:steelblue;
	}
	.container{
		padding:20px;
	}
    .blue{
        color:rgb(0, 153, 255);
    }
</style>

<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<img class="card-img-top" src="{% static 'images/wad-logo-blue.jpg' %}">
			<div class="card-body mt-2 mb-2">

              <h1 id="like_start"class="card-title"data-liked={{has_liked}} data-isSaved={{is_saved}}>{{ workout.title }}</h1>
              <h6 class="card-subtitle mb-2 text-muted">
                  Difficulty : {{ workout.difficulty }} <br/>
                  Duration : {{ workout.duration }} <br/>
                  <strong id="like_count">{{likes}}</strong> users like this workout.
                </div>
         {% if user.is_authenticated %}
                  
                  <div>
                  <button id="like_btn"  data-workoutid="{{ workout.id }}" data-userid="{{ user.id }}"class="btn btn-primary btn-sm" type="button">
                      <span data-feather="thumbs-up"></span>
                      Like Workout
                  </button>
              
                  <button id="unlike_btn"  data-workoutid="{{ workout.id }}" data-userid="{{ user.id }}"class="btn btn-primary btn-sm" type="button">
                      <span data-feather="thumbs-down"></span>
                      Unlike Workout
                  </button>
  
          
          
              
                  <button id="save_btn"  data-workoutid="{{ workout.id }}" data-userid="{{ user.id }}"class="btn btn-primary btn-sm" type="button">
                      <span data-feather="save"></span>
                      Save Workout
                  </button>
                  <button id="unsave_btn"  data-workoutid="{{ workout.id }}" data-userid="{{ user.id }}"class="btn btn-primary btn-sm" type="button">
                      <span data-feather="x-square"></span>
                      Unsave Workout
                  </button>
                  <div id="success_save" class="alert alert-success" role="alert">
                  </div>
              
          {% endif %}

              </h6>

              <div class="card-body mt-2 mb-2">
                  {{workout.description}}
              </div>

              <p class = "blue" > Tags: {%for t in tags%}<span class="badge badge-pill badge-primary">{{t}}</span>{%endfor%}
                <div align="right"><p><u>Completed this workout? Share on twitter!</u></p>
                <a class="twitter-share-button"href="https://twitter.com/intent/tweet?text=Hello%20world"
    data-size="large">Tweet</a>
</div>
			</div>
			<div class="card-footer text-muted">
			  Created on {{ workout.date_published }} by <a href="{% url 'workitout:user_page' workout.creator.username %}" >{{workout.creator}}</a>
			</div>
        </div>
        

	</div>
</div>
<h1>Exercises <span class="badge badge-secondary">{{ex_num}}</span></h1>
{%for ex in exercises%}
<div id="ex_card" class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static ex.image1 %}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ex.exercise.title}}</h5>
          <p class="card-text">{{ex.exercise.description.primer}}</p>
          
        </div>
      </div>
    </div>
    
  </div>
  
{%endfor%}
{% endblock %}